@font-face {
  font-family: "Draw Font";
  src: url("fonts/Drawfont.ttf");
}
*{
	margin: 0;
	padding: 0;
}


header{
	width: 100%;
	background: #2c2c2c;
	height: 150px;
}

.ancho{
	width: 80%;
	height: 70px;
	/*background-color: red;*/
	margin: auto;
}

.logoHeader{
	margin-top: 5px; 
	width: 30%;
	height: 70px;
	/*background-color: blue;*/
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
}

.logoHeader p a{
	color:  #fff;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Draw Font';


}

nav{
	width: 70%;
	height: 70px;
	/*background-color: olive;*/
	float: left;
	text-align: right;
	padding-top: 24px;
	box-sizing: border-box;

}

nav ul li{
	display: inline;
}

nav ul li a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 15px;
	letter-spacing: 1px;
	font-family: 'Oswald';
}

nav ul li a:hover{
	color: #444444;

}